In [1]:
import pandas as pd

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\90506\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\90506\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\90506\appdata\local\programs\python\python312\lib\site-packages (24.1.1)
Collecting pip
  Downloading pip-24.1.2-py3-none-any.whl.metadata (3.6 kB)
Downloading pip-24.1.2-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
    --------------------------------------- 0.0/1.8 MB 1.3 MB/s eta 0:00:02
   -- ------------------------------------- 0.1/1.8 MB 871.5 kB/s eta 0:00:02
   --- ------------------------------------ 0.1/1.8 MB 944.1 kB/s eta 0:00:02
   ---- ----------------------------------- 0.2/1.8 MB 985.7 kB/s eta 0:00:02
   ----- ---------------------------------- 0.3/1.8 MB 1.1 MB/s eta 0:00:02
   ------ --------------------------------- 0.3/1.8 MB 1.1 MB/s eta 0:00:02
   -------- ------------------------------- 0.4/1.8 MB 1.1 MB/s eta 0:00:02
   -------- ------------------------------- 0.4/1.8 MB 1.2 MB/s eta 0:00:02
   -------- ------------------------------- 0.4/1.8 MB 1.2 MB/s eta 0:00:02
   -------- ------------------------------- 0.4/1.8 MB 1.2 MB/s eta 0:00:02
   -------- ------------------------------- 0.4/1.8 MB 754.1 kB/s eta 0:00:02
   -------------- ------------------------- 0.6/1.8 MB 1.1 MB/s eta 0:00:02
   --------------- ------------------------ 0.7/1.8 MB 1.1 MB/s eta 0:00:02
   ---------------- ----------------------- 0.8/1.8 MB 1.1 MB/s eta 0:00:01
   ----------------- ---------------------- 0.8/1.8 MB 1.1 MB/s eta 0:00:01
   ------------------- -------------------- 0.9/1.8 MB 1.2 MB/s eta 0:00:01
   -------------------- ------------------- 0.9/1.8 MB 1.2 MB/s eta 0:00:01
   -------------------- ------------------- 0.9/1.8 MB 1.1 MB/s eta 0:00:01
   -------------------- ------------------- 0.9/1.8 MB 1.1 MB/s eta 0:00:01
   -------------------- ------------------- 0.9/1.8 MB 1.1 MB/s eta 0:00:01
   -------------------- ------------------- 0.9/1.8 MB 1.1 MB/s eta 0:00:01
   --------------------- ------------------ 1.0/1.8 MB 967.8 kB/s eta 0:00:01
   -------------------------- ------------- 1.2/1.8 MB 1.1 MB/s eta 0:00:01
   -------------------------- ------------- 1.2/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------- ----------- 1.3/1.8 MB 1.1 MB/s eta 0:00:01
   ----------------------------- ---------- 1.3/1.8 MB 1.1 MB/s eta 0:00:01
   ------------------------------ --------- 1.4/1.8 MB 1.1 MB/s eta 0:00:01
   ------------------------------- -------- 1.5/1.8 MB 1.1 MB/s eta 0:00:01
   -------------------------------- ------- 1.5/1.8 MB 1.1 MB/s eta 0:00:01
   --------------------------------- ------ 1.5/1.8 MB 1.1 MB/s eta 0:00:01
   ----------------------------------- ---- 1.6/1.8 MB 1.1 MB/s eta 0:00:01
   ------------------------------------ --- 1.7/1.8 MB 1.1 MB/s eta 0:00:01
   ------------------------------------- -- 1.7/1.8 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 1.1 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.1.1
    Uninstalling pip-24.1.1:
      Successfully uninstalled pip-24.1.1
Successfully installed pip-24.1.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
df= pd.read_excel(r"C:\Users\90506\Desktop\ORYANTASYON EĞİTİMİ - 21 MART 2024 YOKLAMALARI.xlsx")

In [6]:
df

,Sicil No,Ad Soyad,Oturum Süresi (Dakika),Unnamed: 3,Unnamed: 4
0,23466,ABDULLAH ASLAN,50,NaN,NaN
1,23582,ALİ DOST,50,NaN,NaN
2,23451,AYLİN YILDIZ,50,NaN,DERS SÜRESİ 51 DK.
3,23457,AYSU YILDIRIM,50,NaN,NaN
4,23570,BAVER AYYILDIZ,50,NaN,NaN
5,23469,BULUT AZAK,38,NaN,NaN
6,23596,CEMAL CAN ARSLAN,42,NaN,NaN
7,23471,DİLAN ERTUNÇ,50,NaN,NaN
8,23459,ENGİN AYVAT,50,NaN,NaN
9,23198,ERDAL ŞAHAN,0,NaN,NaN
10,23458,ERTUĞRUL AYDIN,46,NaN,NaN
11,23455,FADİME SAÇAR,50,NaN,NaN
12,23450,FARUK OKAY,50,NaN,NaN
13,23193,FATİH KARADİKEN,46,NaN,NaN
14,19031,FURKAN ŞAHİN,50,NaN,NaN
15,23468,GÜRHAN MUSTAFA ÇINARBAŞ,50,NaN,NaN
16,23462,HAKAN ERTİNGÜ,50,NaN,NaN
17,23139,HÜSEYİN KEVENCİOĞLU,44,NaN,NaN
18,23472,İBRAHİM YAŞAR,40,NaN,NaN
19,23456,İSHAK ÖZBEK,50,NaN,NaN
20,23448,KAAN MAHMUT MACAR,50,NaN,NaN
21,23196,KÜBRA GÖKÇE,50,NaN,NaN
22,23467,MERVE NUR KUŞ,50,NaN,NaN
23,23465,MESUT TEKELİ,46,NaN,NaN
24,23470,MİRZA MEHMET YÜCEL,50,NaN,NaN
25,23581,MUHAMMET EMİN KESİK,50,NaN,NaN
26,23330,MUHAMMET KARADUMAN,50,NaN,NaN
27,23449,MUHAMMET LÜTFİ BAŞBOĞA,46,NaN,NaN
28,23138,MUHAMMET YILDIRIM,50,NaN,NaN
29,23464,MUKADDER KENT,50,NaN,NaN
30,23452,MUSA OZAN PATACI,50,NaN,NaN
31,23136,OKTAY AYANA,46,NaN,NaN
32,23453,ÖMER BOSTANCI,30,NaN,NaN
33,23195,ÖMER YILDIRIM,50,NaN,NaN
34,23132,ÖZCAN ÇAKIR,50,NaN,NaN
35,23463,SERDAR YAZICI,50,NaN,NaN
36,23460,SERHAT ÇETİNKAYA,50,NaN,NaN
37,23194,SEYDİ SARI,50,NaN,NaN
38,23473,ŞAHİN TAŞKAYA,38,NaN,NaN
39,23580,ŞEYDA ÖRS,50,NaN,NaN
40,23197,TANER HAN,50,NaN,NaN
41,23454,TANER HANIMOĞLU,46,NaN,NaN
42,23461,TARIK YİĞİTBAŞI,50,NaN,NaN
43,23273,TUĞÇE DOĞAN,50,NaN,NaN
44,23134,EMRAH KÜÇÜK,0,NaN,NaN
45,23135,FETHİYE YILMAZ,0,NaN,NaN
46,23272,ÇETİN ÇELEBİ,0,NaN,NaN
47,23332,ALİ İHSAN DESTİCİ,0,NaN,NaN
48,23587,OKAN GÖK,0,NaN,NaN
49,23588,TURGAY KAYA,0,NaN,NaN
50,23340,ALİ İĞDE,0,NaN,NaN
51,19781,ALİ DÜNDAR,0,NaN,NaN

In [7]:
df.drop(columns=["Unnamed: 3","Unnamed: 4"])

    Sicil No                 Ad Soyad  Oturum Süresi (Dakika)
0      23466           ABDULLAH ASLAN                      50
1      23582                 ALİ DOST                      50
2      23451             AYLİN YILDIZ                      50
3      23457            AYSU YILDIRIM                      50
4      23570           BAVER AYYILDIZ                      50
5      23469               BULUT AZAK                      38
6      23596         CEMAL CAN ARSLAN                      42
7      23471             DİLAN ERTUNÇ                      50
8      23459              ENGİN AYVAT                      50
9      23198              ERDAL ŞAHAN                       0
10     23458           ERTUĞRUL AYDIN                      46
11     23455             FADİME SAÇAR                      50
12     23450               FARUK OKAY                      50
13     23193          FATİH KARADİKEN                      46
14     19031             FURKAN ŞAHİN                      50
15     23468  GÜRHAN MUSTAFA ÇINARBAŞ                      50
16     23462            HAKAN ERTİNGÜ                      50
17     23139      HÜSEYİN KEVENCİOĞLU                      44
18     23472            İBRAHİM YAŞAR                      40
19     23456              İSHAK ÖZBEK                      50
20     23448        KAAN MAHMUT MACAR                      50
21     23196              KÜBRA GÖKÇE                      50
22     23467            MERVE NUR KUŞ                      50
23     23465             MESUT TEKELİ                      46
24     23470       MİRZA MEHMET YÜCEL                      50
25     23581      MUHAMMET EMİN KESİK                      50
26     23330       MUHAMMET KARADUMAN                      50
27     23449   MUHAMMET LÜTFİ BAŞBOĞA                      46
28     23138        MUHAMMET YILDIRIM                      50
29     23464            MUKADDER KENT                      50
30     23452         MUSA OZAN PATACI                      50
31     23136              OKTAY AYANA                      46
32     23453            ÖMER BOSTANCI                      30
33     23195            ÖMER YILDIRIM                      50
34     23132              ÖZCAN ÇAKIR                      50
35     23463            SERDAR YAZICI                      50
36     23460         SERHAT ÇETİNKAYA                      50
37     23194               SEYDİ SARI                      50
38     23473            ŞAHİN TAŞKAYA                      38
39     23580                ŞEYDA ÖRS                      50
40     23197                TANER HAN                      50
41     23454          TANER HANIMOĞLU                      46
42     23461          TARIK YİĞİTBAŞI                      50
43     23273              TUĞÇE DOĞAN                      50
44     23134              EMRAH KÜÇÜK                       0
45     23135           FETHİYE YILMAZ                       0
46     23272             ÇETİN ÇELEBİ                       0
47     23332        ALİ İHSAN DESTİCİ                       0
48     23587                 OKAN GÖK                       0
49     23588              TURGAY KAYA                       0
50     23340                 ALİ İĞDE                       0
51     19781               ALİ DÜNDAR                       0

In [8]:
filtered_df=df[df['Oturum Süresi (Dakika)']>51*70/100]

In [9]:
result_list= filtered_df['Oturum Süresi (Dakika)'].tolist()

In [10]:
result_list

[50,
 50,
 50,
 50,
 50,
 38,
 42,
 50,
 50,
 46,
 50,
 50,
 46,
 50,
 50,
 50,
 44,
 40,
 50,
 50,
 50,
 50,
 46,
 50,
 50,
 50,
 46,
 50,
 50,
 50,
 46,
 50,
 50,
 50,
 50,
 50,
 38,
 50,
 50,
 46,
 50,
 50]

In [11]:
filtered_df=[['Sicil No	', 'Ad Soyad']]

In [14]:
excel_files = [
    r"C:\Users\90506\Desktop\ORYANTASYON EĞİTİMİ - 21 MART 2024 YOKLAMALARI.xlsx",
    r"C:\Users\90506\Desktop\ORYANTASYON EĞİTİMİ - 18 MART 2024 YOKLAMALARI.xlsx",
    r"C:\Users\90506\Desktop\ORYANTASYON EĞİTİMİ - 19 MART 2024 YOKLAMALARI.xlsx",
    r"C:\Users\90506\Desktop\ORYANTASYON EĞİTİMİ - 20 MART 2024 YOKLAMALARI.xlsx",
    r"C:\Users\90506\Desktop\ORYANTASYON EĞİTİMİ - 22 MART 2024 YOKLAMALARI.xlsx"
]

In [15]:
merged_df = pd.read_excel(excel_files[0])

In [16]:
merged_df = merged_df[['Sicil No', 'Ad Soyad', 'Oturum Süresi (Dakika)']]
merged_df.rename(columns={'Oturum Süresi (Dakika)': 'Oturum Süresi 1'}, inplace=True)

In [17]:
for i, file in enumerate(excel_files[1:], start=2):
    df = pd.read_excel(file)
    df = df[['Sicil No', 'Ad Soyad', 'Oturum Süresi (Dakika)']]
    df.rename(columns={'Oturum Süresi (Dakika)': f'Oturum Süresi {i}'}, inplace=True)
    merged_df = merged_df.merge(df, on=['Sicil No', 'Ad Soyad'])

In [18]:
oturum_sureleri_sutunlari = [col for col in merged_df.columns if 'Oturum Süresi' in col]
merged_df['Toplam Oturum Süresi'] = merged_df[oturum_sureleri_sutunlari].sum(axis=1)

In [19]:
merged_df['Ortalama Oturum Süresi'] = merged_df['Toplam Oturum Süresi'] / len(excel_files)

In [20]:
result = merged_df[['Sicil No', 'Ad Soyad', 'Toplam Oturum Süresi', 'Ortalama Oturum Süresi']]
result.to_excel('toplam_ve_ortalama_oturum_sureleri.xlsx', index=False)

In [21]:
result

,Sicil No,Ad Soyad,Toplam Oturum Süresi,Ortalama Oturum Süresi
0,23466,ABDULLAH ASLAN,208,41.6
1,23582,ALİ DOST,158,31.6
2,23451,AYLİN YILDIZ,258,51.6
3,23457,AYSU YILDIRIM,204,40.8
4,23570,BAVER AYYILDIZ,208,41.6
5,23469,BULUT AZAK,212,42.4
6,23596,CEMAL CAN ARSLAN,220,44.0
7,23471,DİLAN ERTUNÇ,252,50.4
8,23459,ENGİN AYVAT,234,46.8
9,23198,ERDAL ŞAHAN,154,30.8
10,23458,ERTUĞRUL AYDIN,204,40.8
11,23455,FADİME SAÇAR,258,51.6
12,23450,FARUK OKAY,258,51.6
13,23193,FATİH KARADİKEN,218,43.6
14,23468,GÜRHAN MUSTAFA ÇINARBAŞ,258,51.6
15,23462,HAKAN ERTİNGÜ,259,51.8
16,23139,HÜSEYİN KEVENCİOĞLU,244,48.8
17,23472,İBRAHİM YAŞAR,40,8.0
18,23456,İSHAK ÖZBEK,230,46.0
19,23448,KAAN MAHMUT MACAR,258,51.6
20,23196,KÜBRA GÖKÇE,206,41.2
21,23467,MERVE NUR KUŞ,259,51.8
22,23465,MESUT TEKELİ,204,40.8
23,23470,MİRZA MEHMET YÜCEL,238,47.6
24,23581,MUHAMMET EMİN KESİK,258,51.6
25,23330,MUHAMMET KARADUMAN,252,50.4
26,23449,MUHAMMET LÜTFİ BAŞBOĞA,242,48.4
27,23138,MUHAMMET YILDIRIM,253,50.6
28,23464,MUKADDER KENT,206,41.2
29,23452,MUSA OZAN PATACI,259,51.8
30,23136,OKTAY AYANA,250,50.0
31,23453,ÖMER BOSTANCI,226,45.2
32,23195,ÖMER YILDIRIM,207,41.4
33,23132,ÖZCAN ÇAKIR,248,49.6
34,23463,SERDAR YAZICI,258,51.6
35,23460,SERHAT ÇETİNKAYA,258,51.6
36,23194,SEYDİ SARI,259,51.8
37,23473,ŞAHİN TAŞKAYA,228,45.6
38,23580,ŞEYDA ÖRS,254,50.8
39,23197,TANER HAN,259,51.8
40,23454,TANER HANIMOĞLU,254,50.8
41,23461,TARIK YİĞİTBAŞI,258,51.6
42,23273,TUĞÇE DOĞAN,258,51.6
43,23134,EMRAH KÜÇÜK,0,0.0
44,23135,FETHİYE YILMAZ,0,0.0
45,23272,ÇETİN ÇELEBİ,0,0.0
46,23332,ALİ İHSAN DESTİCİ,0,0.0
47,23587,OKAN GÖK,26,5.2
48,23588,TURGAY KAYA,0,0.0
49,23340,ALİ İĞDE,0,0.0

In [22]:
merged_df=merged_df.iloc[:,[0,1,3]]
merged_df.columns=['Sicil No','Ad Soyad','Ders Saati']

In [23]:
merged_df = pd.read_excel(excel_files[0])

In [24]:
for i, file in enumerate(excel_files[1:], start=2):
    df = pd.read_excel(file)
    df = df[['Sicil No', 'Ad Soyad', 'Oturum Süresi (Dakika)']]
    df.rename(columns={'Oturum Süresi (Dakika)': f'Oturum Süresi {i}'}, inplace=True)
    merged_df = merged_df.merge(df, on=['Sicil No', 'Ad Soyad'])

In [25]:
oturum_sureleri_sutunlari = [col for col in merged_df.columns if 'Oturum Süresi' in col]
merged_df['Toplam Oturum Süresi'] = merged_df[oturum_sureleri_sutunlari].sum(axis=1)

In [26]:
merged_df['Ortalama Oturum Süresi'] = merged_df['Toplam Oturum Süresi'] / len(excel_files)

In [27]:
result = merged_df[['Sicil No', 'Ad Soyad', 'Toplam Oturum Süresi', 'Ortalama Oturum Süresi']]

In [28]:
result.to_excel('toplam_ve_ortalama_oturum_sureleri.xlsx', index=False)

In [29]:
result

,Sicil No,Ad Soyad,Toplam Oturum Süresi,Ortalama Oturum Süresi
0,23466,ABDULLAH ASLAN,208,41.6
1,23582,ALİ DOST,158,31.6
2,23451,AYLİN YILDIZ,258,51.6
3,23457,AYSU YILDIRIM,204,40.8
4,23570,BAVER AYYILDIZ,208,41.6
5,23469,BULUT AZAK,212,42.4
6,23596,CEMAL CAN ARSLAN,220,44.0
7,23471,DİLAN ERTUNÇ,252,50.4
8,23459,ENGİN AYVAT,234,46.8
9,23198,ERDAL ŞAHAN,154,30.8
10,23458,ERTUĞRUL AYDIN,204,40.8
11,23455,FADİME SAÇAR,258,51.6
12,23450,FARUK OKAY,258,51.6
13,23193,FATİH KARADİKEN,218,43.6
14,23468,GÜRHAN MUSTAFA ÇINARBAŞ,258,51.6
15,23462,HAKAN ERTİNGÜ,259,51.8
16,23139,HÜSEYİN KEVENCİOĞLU,244,48.8
17,23472,İBRAHİM YAŞAR,40,8.0
18,23456,İSHAK ÖZBEK,230,46.0
19,23448,KAAN MAHMUT MACAR,258,51.6
20,23196,KÜBRA GÖKÇE,206,41.2
21,23467,MERVE NUR KUŞ,259,51.8
22,23465,MESUT TEKELİ,204,40.8
23,23470,MİRZA MEHMET YÜCEL,238,47.6
24,23581,MUHAMMET EMİN KESİK,258,51.6
25,23330,MUHAMMET KARADUMAN,252,50.4
26,23449,MUHAMMET LÜTFİ BAŞBOĞA,242,48.4
27,23138,MUHAMMET YILDIRIM,253,50.6
28,23464,MUKADDER KENT,206,41.2
29,23452,MUSA OZAN PATACI,259,51.8
30,23136,OKTAY AYANA,250,50.0
31,23453,ÖMER BOSTANCI,226,45.2
32,23195,ÖMER YILDIRIM,207,41.4
33,23132,ÖZCAN ÇAKIR,248,49.6
34,23463,SERDAR YAZICI,258,51.6
35,23460,SERHAT ÇETİNKAYA,258,51.6
36,23194,SEYDİ SARI,259,51.8
37,23473,ŞAHİN TAŞKAYA,228,45.6
38,23580,ŞEYDA ÖRS,254,50.8
39,23197,TANER HAN,259,51.8
40,23454,TANER HANIMOĞLU,254,50.8
41,23461,TARIK YİĞİTBAŞI,258,51.6
42,23273,TUĞÇE DOĞAN,258,51.6
43,23134,EMRAH KÜÇÜK,0,0.0
44,23135,FETHİYE YILMAZ,0,0.0
45,23272,ÇETİN ÇELEBİ,0,0.0
46,23332,ALİ İHSAN DESTİCİ,0,0.0
47,23587,OKAN GÖK,26,5.2
48,23588,TURGAY KAYA,0,0.0
49,23340,ALİ İĞDE,0,0.0

In [30]:
merged_df = pd.read_excel(excel_files[0])

In [31]:
merged_df = merged_df[['Sicil No', 'Ad Soyad', 'Oturum Süresi (Dakika)']]
merged_df.rename(columns={'Oturum Süresi (Dakika)': 'Oturum Süresi 1'}, inplace=True)

In [32]:
for i, file in enumerate(excel_files[1:], start=2):
    df = pd.read_excel(file)
    df = df[['Sicil No', 'Ad Soyad', 'Oturum Süresi (Dakika)']]
    df.rename(columns={'Oturum Süresi (Dakika)': f'Oturum Süresi {i}'}, inplace=True)
    merged_df = merged_df.merge(df, on=['Sicil No', 'Ad Soyad'])

In [33]:
oturum_sureleri_sutunlari = [col for col in merged_df.columns if 'Oturum Süresi' in col]
merged_df['Toplam Oturum Süresi'] = merged_df[oturum_sureleri_sutunlari].sum(axis=1)

In [34]:
merged_df['Ortalama Oturum Süresi'] = merged_df['Toplam Oturum Süresi'] / len(excel_files)

In [35]:
result = merged_df[['Sicil No', 'Ad Soyad', 'Toplam Oturum Süresi', 'Ortalama Oturum Süresi']]
result.to_excel('toplam_ve_ortalama_oturum_sureleri.xlsx', index=False)

In [36]:
result

,Sicil No,Ad Soyad,Toplam Oturum Süresi,Ortalama Oturum Süresi
0,23466,ABDULLAH ASLAN,208,41.6
1,23582,ALİ DOST,158,31.6
2,23451,AYLİN YILDIZ,258,51.6
3,23457,AYSU YILDIRIM,204,40.8
4,23570,BAVER AYYILDIZ,208,41.6
5,23469,BULUT AZAK,212,42.4
6,23596,CEMAL CAN ARSLAN,220,44.0
7,23471,DİLAN ERTUNÇ,252,50.4
8,23459,ENGİN AYVAT,234,46.8
9,23198,ERDAL ŞAHAN,154,30.8
10,23458,ERTUĞRUL AYDIN,204,40.8
11,23455,FADİME SAÇAR,258,51.6
12,23450,FARUK OKAY,258,51.6
13,23193,FATİH KARADİKEN,218,43.6
14,23468,GÜRHAN MUSTAFA ÇINARBAŞ,258,51.6
15,23462,HAKAN ERTİNGÜ,259,51.8
16,23139,HÜSEYİN KEVENCİOĞLU,244,48.8
17,23472,İBRAHİM YAŞAR,40,8.0
18,23456,İSHAK ÖZBEK,230,46.0
19,23448,KAAN MAHMUT MACAR,258,51.6
20,23196,KÜBRA GÖKÇE,206,41.2
21,23467,MERVE NUR KUŞ,259,51.8
22,23465,MESUT TEKELİ,204,40.8
23,23470,MİRZA MEHMET YÜCEL,238,47.6
24,23581,MUHAMMET EMİN KESİK,258,51.6
25,23330,MUHAMMET KARADUMAN,252,50.4
26,23449,MUHAMMET LÜTFİ BAŞBOĞA,242,48.4
27,23138,MUHAMMET YILDIRIM,253,50.6
28,23464,MUKADDER KENT,206,41.2
29,23452,MUSA OZAN PATACI,259,51.8
30,23136,OKTAY AYANA,250,50.0
31,23453,ÖMER BOSTANCI,226,45.2
32,23195,ÖMER YILDIRIM,207,41.4
33,23132,ÖZCAN ÇAKIR,248,49.6
34,23463,SERDAR YAZICI,258,51.6
35,23460,SERHAT ÇETİNKAYA,258,51.6
36,23194,SEYDİ SARI,259,51.8
37,23473,ŞAHİN TAŞKAYA,228,45.6
38,23580,ŞEYDA ÖRS,254,50.8
39,23197,TANER HAN,259,51.8
40,23454,TANER HANIMOĞLU,254,50.8
41,23461,TARIK YİĞİTBAŞI,258,51.6
42,23273,TUĞÇE DOĞAN,258,51.6
43,23134,EMRAH KÜÇÜK,0,0.0
44,23135,FETHİYE YILMAZ,0,0.0
45,23272,ÇETİN ÇELEBİ,0,0.0
46,23332,ALİ İHSAN DESTİCİ,0,0.0
47,23587,OKAN GÖK,26,5.2
48,23588,TURGAY KAYA,0,0.0
49,23340,ALİ İĞDE,0,0.0

In [37]:
import glob

In [38]:
df.iloc[4]

Sicil No                      23596
Ad Soyad           CEMAL CAN ARSLAN
Oturum Süresi 5                  44
Name: 4, dtype: object

In [39]:
excel_file =r"C:\Users\90506\Desktop\ORYANTASYON EĞİTİMİ - 21 MART 2024 YOKLAMALARI.xlsx"
xl = pd.ExcelFile(excel_file)

In [40]:
sheet_names = xl.sheet_names
print(sheet_names)

['1.DERS', '2.DERS', '3.DERS', '4.DERS', '5.DERS', '6.DERS', 'EKLER']

In [43]:
dfs = []
for sheet_name in sheet_names:
    df = xl.parse(sheet_name)
    dfs.append(df)

In [44]:
dfs

[    Sicil No                 Ad Soyad  Oturum Süresi (Dakika)  Unnamed: 3  \
 0      23466           ABDULLAH ASLAN                      50         NaN
 1      23582                 ALİ DOST                      50         NaN
 2      23451             AYLİN YILDIZ                      50         NaN
 3      23457            AYSU YILDIRIM                      50         NaN
 4      23570           BAVER AYYILDIZ                      50         NaN
 5      23469               BULUT AZAK                      38         NaN
 6      23596         CEMAL CAN ARSLAN                      42         NaN
 7      23471             DİLAN ERTUNÇ                      50         NaN
 8      23459              ENGİN AYVAT                      50         NaN
 9      23198              ERDAL ŞAHAN                       0         NaN
 10     23458           ERTUĞRUL AYDIN                      46         NaN
 11     23455             FADİME SAÇAR                      50         NaN
 12     23450               FARUK OKAY                      50         NaN
 13     23193          FATİH KARADİKEN                      46         NaN
 14     19031             FURKAN ŞAHİN                      50         NaN
 15     23468  GÜRHAN MUSTAFA ÇINARBAŞ                      50         NaN
 16     23462            HAKAN ERTİNGÜ                      50         NaN
 17     23139      HÜSEYİN KEVENCİOĞLU                      44         NaN
 18     23472            İBRAHİM YAŞAR                      40         NaN
 19     23456              İSHAK ÖZBEK                      50         NaN
 20     23448        KAAN MAHMUT MACAR                      50         NaN
 21     23196              KÜBRA GÖKÇE                      50         NaN
 22     23467            MERVE NUR KUŞ                      50         NaN
 23     23465             MESUT TEKELİ                      46         NaN
 24     23470       MİRZA MEHMET YÜCEL                      50         NaN
 25     23581      MUHAMMET EMİN KESİK                      50         NaN
 26     23330       MUHAMMET KARADUMAN                      50         NaN
 27     23449   MUHAMMET LÜTFİ BAŞBOĞA                      46         NaN
 28     23138        MUHAMMET YILDIRIM                      50         NaN
 29     23464            MUKADDER KENT                      50         NaN
 30     23452         MUSA OZAN PATACI                      50         NaN
 31     23136              OKTAY AYANA                      46         NaN
 32     23453            ÖMER BOSTANCI                      30         NaN
 33     23195            ÖMER YILDIRIM                      50         NaN
 34     23132              ÖZCAN ÇAKIR                      50         NaN
 35     23463            SERDAR YAZICI                      50         NaN
 36     23460         SERHAT ÇETİNKAYA                      50         NaN
 37     23194               SEYDİ SARI                      50         NaN
 38     23473            ŞAHİN TAŞKAYA                      38         NaN
 39     23580                ŞEYDA ÖRS                      50         NaN
 40     23197                TANER HAN                      50         NaN
 41     23454          TANER HANIMOĞLU                      46         NaN
 42     23461          TARIK YİĞİTBAŞI                      50         NaN
 43     23273              TUĞÇE DOĞAN                      50         NaN
 44     23134              EMRAH KÜÇÜK                       0         NaN
 45     23135           FETHİYE YILMAZ                       0         NaN
 46     23272             ÇETİN ÇELEBİ                       0         NaN
 47     23332        ALİ İHSAN DESTİCİ                       0         NaN
 48     23587                 OKAN GÖK                       0         NaN
 49     23588              TURGAY KAYA                       0         NaN
 50     23340                 ALİ İĞDE                       0         NaN
 51     19781               ALİ DÜNDAR                       0         NaN

             Unnamed: 4
 0                  NaN
 1                  NaN
 2   DERS SÜRESİ 51 DK.
 3                  NaN
 4                  NaN
 5                  NaN
 6                  NaN
 7                  NaN
 8                  NaN
 9                  NaN
 10                 NaN
 11                 NaN
 12                 NaN
 13                 NaN
 14                 NaN
 15                 NaN
 16                 NaN
 17                 NaN
 18                 NaN
 19                 NaN
 20                 NaN
 21                 NaN
 22                 NaN
 23                 NaN
 24                 NaN
 25                 NaN
 26                 NaN
 27                 NaN
 28                 NaN
 29                 NaN
 30                 NaN
 31                 NaN
 32                 NaN
 33                 NaN
 34                 NaN
 35                 NaN
 36                 NaN
 37                 NaN
 38                 NaN
 39                 NaN
 40                 NaN
 41                 NaN
 42                 NaN
 43                 NaN
 44                 NaN
 45                 NaN
 46                 NaN
 47                 NaN
 48                 NaN
 49                 NaN
 50                 NaN
 51                 NaN  ,
     Sicil No                 Ad Soyad  Oturum Süresi (Dakika)  Unnamed: 3  \
 0      23466           ABDULLAH ASLAN                      54         NaN
 1      23582                 ALİ DOST                      42         NaN
 2      23451             AYLİN YILDIZ                      54         NaN
 3      23457            AYSU YILDIRIM                      54         NaN
 4      23570           BAVER AYYILDIZ                      38         NaN
 5      23469               BULUT AZAK                      54         NaN
 6      23596         CEMAL CAN ARSLAN                      48         NaN
 7      23471             DİLAN ERTUNÇ                      54         NaN
 8      23459              ENGİN AYVAT                      54         NaN
 9      23198              ERDAL ŞAHAN                      36         NaN
 10     23458           ERTUĞRUL AYDIN                      54         NaN
 11     23455             FADİME SAÇAR                      54         NaN
 12     23450               FARUK OKAY                      48         NaN
 13     23193          FATİH KARADİKEN                      54         NaN
 14     19031             FURKAN ŞAHİN                      54         NaN
 15     23468  GÜRHAN MUSTAFA ÇINARBAŞ                      54         NaN
 16     23462            HAKAN ERTİNGÜ                      54         NaN
 17     23139      HÜSEYİN KEVENCİOĞLU                      44         NaN
 18     23456              İSHAK ÖZBEK                      50         NaN
 19     23448        KAAN MAHMUT MACAR                      54         NaN
 20     23196              KÜBRA GÖKÇE                      54         NaN
 21     23467            MERVE NUR KUŞ                      54         NaN
 22     23465             MESUT TEKELİ                      48         NaN
 23     23581      MUHAMMET EMİN KESİK                      54         NaN
 24     23330       MUHAMMET KARADUMAN                      48         NaN
 25     23449   MUHAMMET LÜTFİ BAŞBOĞA                      22         NaN
 26     23138        MUHAMMET YILDIRIM                      54         NaN
 27     23464            MUKADDER KENT                      54         NaN
 28     23452         MUSA OZAN PATACI                      54         NaN
 29     23136              OKTAY AYANA                      54         NaN
 30     23453            ÖMER BOSTANCI                      46         NaN
 31     23195            ÖMER YILDIRIM                      54         NaN
 32     23132              ÖZCAN ÇAKIR                      54         NaN
 33     23463            SERDAR YAZICI                      54         NaN
 34     23460         SERHAT ÇETİNKAYA                      54         NaN
 35     23194               SEYDİ SARI                      54         NaN
 36     23473            ŞAHİN TAŞKAYA                      34         NaN
 37     23580                ŞEYDA ÖRS                      54         NaN
 38     23197                TANER HAN                      54         NaN
 39     23454          TANER HANIMOĞLU                      46         NaN
 40     23461          TARIK YİĞİTBAŞI                      54         NaN
 41     23273              TUĞÇE DOĞAN                      54         NaN
 42     23134              EMRAH KÜÇÜK                       0         NaN
 43     23135           FETHİYE YILMAZ                       0         NaN
 44     23272             ÇETİN ÇELEBİ                       0         NaN
 45     23332        ALİ İHSAN DESTİCİ                       0         NaN
 46     23587                 OKAN GÖK                       0         NaN
 47     23588              TURGAY KAYA                       0         NaN
 48     23470       MİRZA MEHMET YÜCEL                       0         NaN
 49     23472            İBRAHİM YAŞAR                       0         NaN
 50     23340                 ALİ İĞDE                       0         NaN
 51     19781               ALİ DÜNDAR                       0         NaN

             Unnamed: 4
 0   DERS SÜRESİ 54 DK.
 1                  NaN
 2                  NaN
 3                  NaN
 4                  NaN
 5                  NaN
 6                  NaN
 7                  NaN
 8                  NaN
 9                  NaN
 10                 NaN
 11                 NaN
 12                 NaN
 13                 NaN
 14                 NaN
 15                 NaN
 16                 NaN
 17                 NaN
 18                 NaN
 19                 NaN
 20                 NaN
 21                 NaN
 22                 NaN
 23                 NaN
 24                 NaN
 25                 NaN
 26                 NaN
 27                 NaN
 28                 NaN
 29                 NaN
 30                 NaN
 31                 NaN
 32                 NaN
 33                 NaN
 34                 NaN
 35                 NaN
 36                 NaN
 37                 NaN
 38                 NaN
 39                 NaN
 40                 NaN
 41                 NaN
 42                 NaN
 43                 NaN
 44                 NaN
 45                 NaN
 46                 NaN
 47                 NaN
 48                 NaN
 49                 NaN
 50                 NaN
 51                 NaN  ,
     Sicil No                 Ad Soyad  Oturum Süresi (Dakika)  Unnamed: 3  \
 0      23466           ABDULLAH ASLAN                      46         NaN
 1      23451             AYLİN YILDIZ                      50         NaN
 2      23457            AYSU YILDIRIM                      50         NaN
 3      23570           BAVER AYYILDIZ                      44         NaN
 4      23469               BULUT AZAK                      32         NaN
 5      23596         CEMAL CAN ARSLAN                      46         NaN
 6      23471             DİLAN ERTUNÇ                      38         NaN
 7      23459              ENGİN AYVAT                      50         NaN
 8      23198              ERDAL ŞAHAN                      50         NaN
 9      23458           ERTUĞRUL AYDIN                      50         NaN
 10     23455             FADİME SAÇAR                      50         NaN
 11     23450               FARUK OKAY                      46         NaN
 12     23193          FATİH KARADİKEN                      50         NaN
 13     19031             FURKAN ŞAHİN                      50         NaN
 14     23468  GÜRHAN MUSTAFA ÇINARBAŞ                      50         NaN
 15     23462            HAKAN ERTİNGÜ                      50         NaN
 16     23139      HÜSEYİN KEVENCİOĞLU                      40         NaN
 17     23456              İSHAK ÖZBEK                      50         NaN
 18     23448        KAAN MAHMUT MACAR                      50         NaN
 19     23196              KÜBRA GÖKÇE                      50         NaN
 20     23467            MERVE NUR KUŞ                      50         NaN
 21     23465             MESUT TEKELİ                      46         NaN
 22     23470       MİRZA MEHMET YÜCEL                      46         NaN
 23     23581      MUHAMMET EMİN KESİK                      50         NaN
 24     23330       MUHAMMET KARADUMAN                      28         NaN
 25     23138        MUHAMMET YILDIRIM                      46         NaN
 26     23464            MUKADDER KENT                      50         NaN
 27     23452         MUSA OZAN PATACI                      50         NaN
 28     23136              OKTAY AYANA                      46         NaN
 29     23453            ÖMER BOSTANCI                      36         NaN
 30     23195            ÖMER YILDIRIM                      50         NaN
 31     23132              ÖZCAN ÇAKIR                      46         NaN
 32     23463            SERDAR YAZICI                      50         NaN
 33     23460         SERHAT ÇETİNKAYA                      32         NaN
 34     23194               SEYDİ SARI                      38         NaN
 35     23473            ŞAHİN TAŞKAYA                      46         NaN
 36     23580                ŞEYDA ÖRS                      50         NaN
 37     23197                TANER HAN                      50         NaN
 38     23454          TANER HANIMOĞLU                      36         NaN
 39     23461          TARIK YİĞİTBAŞI                      50         NaN
 40     23273              TUĞÇE DOĞAN                      38         NaN
 41     23134              EMRAH KÜÇÜK                       0         NaN
 42     23135           FETHİYE YILMAZ                       0         NaN
 43     23272             ÇETİN ÇELEBİ                       0         NaN
 44     23332        ALİ İHSAN DESTİCİ                       0         NaN
 45     23449   MUHAMMET LÜTFİ BAŞBOĞA                       0         NaN
 46     23582                 ALİ DOST                       0         NaN
 47     23587                 OKAN GÖK                       0         NaN
 48     23588              TURGAY KAYA                       0         NaN
 49     23472            İBRAHİM YAŞAR                       0         NaN
 50     23340                 ALİ İĞDE                       0         NaN
 51     19781               ALİ DÜNDAR                       0         NaN

             Unnamed: 4
 0   DERS SÜRESİ 51 DK.
 1                  NaN
 2                  NaN
 3                  NaN
 4                  NaN
 5                  NaN
 6                  NaN
 7                  NaN
 8                  NaN
 9                  NaN
 10                 NaN
 11                 NaN
 12                 NaN
 13                 NaN
 14                 NaN
 15                 NaN
 16                 NaN
 17                 NaN
 18                 NaN
 19                 NaN
 20                 NaN
 21                 NaN
 22                 NaN
 23                 NaN
 24                 NaN
 25                 NaN
 26                 NaN
 27                 NaN
 28                 NaN
 29                 NaN
 30                 NaN
 31                 NaN
 32                 NaN
 33                 NaN
 34                 NaN
 35                 NaN
 36                 NaN
 37                 NaN
 38                 NaN
 39                 NaN
 40                 NaN
 41                 NaN
 42                 NaN
 43                 NaN
 44                 NaN
 45                 NaN
 46                 NaN
 47                 NaN
 48                 NaN
 49                 NaN
 50                 NaN
 51                 NaN  ,
     Sicil No                    Ad Soyad  Oturum Süresi (Dakika)  Unnamed: 3  \
 0      23466              ABDULLAH ASLAN                      48         NaN
 1      23582                    ALİ DOST                      48         NaN
 2      23451                AYLİN YILDIZ                      46         NaN
 3      23457               AYSU YILDIRIM                      48         NaN
 4      23570              BAVER AYYILDIZ                      44         NaN
 5      23469                  BULUT AZAK                      30         NaN
 6      23596            CEMAL CAN ARSLAN                      42         NaN
 7      23471                DİLAN ERTUNÇ                      40         NaN
 8      23459                 ENGİN AYVAT                      48         NaN
 9      23198                 ERDAL ŞAHAN                      48         NaN
 10     23458              ERTUĞRUL AYDIN                      48         NaN
 11     23455                FADİME SAÇAR                      44         NaN
 12     23450                  FARUK OKAY                      46         NaN
 13     23193             FATİH KARADİKEN                      28         NaN
 14     23468     GÜRHAN MUSTAFA ÇINARBAŞ                      42         NaN
 15     23462               HAKAN ERTİNGÜ                      46         NaN
 16     23139         HÜSEYİN KEVENCİOĞLU                      18         NaN
 17     23472               İBRAHİM YAŞAR                      24         NaN
 18     23456                 İSHAK ÖZBEK                      40         NaN
 19     23448           KAAN MAHMUT MACAR                      48         NaN
 20     20676                KEZBAN CANER                      30         NaN
 21     23196                 KÜBRA GÖKÇE                      46         NaN
 22     11048  MEHTAP FULYA ÖZKELEŞ İYBAR                      32         NaN
 23     23467               MERVE NUR KUŞ                      44         NaN
 24     23465                MESUT TEKELİ                      46         NaN
 25     23470          MİRZA MEHMET YÜCEL                      48         NaN
 26     23581         MUHAMMET EMİN KESİK                      48         NaN
 27     23330          MUHAMMET KARADUMAN                      42         NaN
 28     23449      MUHAMMET LÜTFİ BAŞBOĞA                      14         NaN
 29     23138           MUHAMMET YILDIRIM                      18         NaN
 30     23464               MUKADDER KENT                      48         NaN
 31     23452            MUSA OZAN PATACI                      48         NaN
 32     23136                 OKTAY AYANA                      46         NaN
 33     23453               ÖMER BOSTANCI                      44         NaN
 34     23195               ÖMER YILDIRIM                      48         NaN
 35     23132                 ÖZCAN ÇAKIR                      48         NaN
 36     23463               SERDAR YAZICI                      48         NaN
 37     23460            SERHAT ÇETİNKAYA                      48         NaN
 38     23194                  SEYDİ SARI                      48         NaN
 39     23473               ŞAHİN TAŞKAYA                      40         NaN
 40     23580                   ŞEYDA ÖRS                      36         NaN
 41     23197                   TANER HAN                      48         NaN
 42     23454             TANER HANIMOĞLU                      42         NaN
 43     23461             TARIK YİĞİTBAŞI                      48         NaN
 44     23273                 TUĞÇE DOĞAN                      42         NaN
 45     23134                 EMRAH KÜÇÜK                       0         NaN
 46     23135              FETHİYE YILMAZ                       0         NaN
 47     23272                ÇETİN ÇELEBİ                       0         NaN
 48     23332           ALİ İHSAN DESTİCİ                       0         NaN
 49     23587                    OKAN GÖK                       0         NaN
 50     23588                 TURGAY KAYA                       0         NaN
 51     23340                    ALİ İĞDE                       0         NaN

             Unnamed: 4
 0   DERS SÜRESİ 30 DK.
 1                  NaN
 2                  NaN

In [45]:
merged_df = pd.concat(dfs, ignore_index=True)

In [46]:
merged_df

,Sicil No,Ad Soyad,Oturum Süresi (Dakika),Unnamed: 3,Unnamed: 4
0,23466,ABDULLAH ASLAN,50,NaN,NaN
1,23582,ALİ DOST,50,NaN,NaN
2,23451,AYLİN YILDIZ,50,NaN,DERS SÜRESİ 51 DK.
3,23457,AYSU YILDIRIM,50,NaN,NaN
4,23570,BAVER AYYILDIZ,50,NaN,NaN
...,...,...,...,...,...
309,23457,AYSU YILDIRIM,0,NaN,NaN
310,23587,OKAN GÖK,0,NaN,NaN
311,23588,TURGAY KAYA,0,NaN,NaN
312,23340,ALİ İĞDE,0,NaN,NaN
313,19781,ALİ DÜNDAR,0,NaN,NaN

In [48]:
file_path = r"C:\Users\90506\Desktop\ORYANTASYON EĞİTİMİ - 21 MART 2024 YOKLAMALARI.xlsx"
df = pd.read_excel(file_path)

In [49]:
type(dfs)

list

In [50]:
merged_df = pd.concat(dfs, ignore_index=True)

In [51]:
summed_sessions = merged_df.groupby('Sicil No')['Oturum Süresi (Dakika)'].sum().reset_index()

In [52]:
summed_sessions

    Sicil No  Oturum Süresi (Dakika)
0      11048                     110
1      19031                     154
2      19781                       0
3      20676                     120
4      23132                     288
5      23134                       0
6      23135                       0
7      23136                     274
8      23138                     258
9      23139                     236
10     23193                     242
11     23194                     276
12     23195                     292
13     23196                     290
14     23197                     292
15     23198                     206
16     23272                       0
17     23273                     274
18     23330                     208
19     23332                       0
20     23340                       0
21     23448                     292
22     23449                     168
23     23450                     280
24     23451                     290
25     23452                     292
26     23453                     238
27     23454                     224
28     23455                     288
29     23456                     280
30     23457                     202
31     23458                     288
32     23459                     292
33     23460                     274
34     23461                     292
35     23462                     290
36     23463                     292
37     23464                     292
38     23465                     266
39     23466                     288
40     23467                     288
41     23468                     282
42     23469                     232
43     23470                     234
44     23471                     262
45     23472                     110
46     23473                     232
47     23570                     266
48     23580                     280
49     23581                     292
50     23582                     230
51     23587                       0
52     23588                       0
53     23596                     260

In [53]:
excel_file_2 =r"C:\Users\90506\Desktop\ORYANTASYON EĞİTİMİ - 22 MART 2024 YOKLAMALARI.xlsx"
xl2 = pd.ExcelFile(excel_file_2)

In [54]:
dfs2 = []
for sheet_name in xl2.sheet_names:
    df2 = pd.read_excel(excel_file_2, sheet_name=sheet_name)
    dfs2.append(df2)

In [55]:
merged_df2=pd.concat(dfs2, ignore_index=True)

In [56]:
summed_sessions2 = merged_df2.groupby('Sicil No')['Oturum Süresi (Dakika)'].sum().reset_index()

In [57]:
summed_sessions2

    Sicil No  Oturum Süresi (Dakika)
0      13285                      46
1      17351                      52
2      17359                      20
3      17691                      32
4      18212                      30
..       ...                     ...
56     23581                     280
57     23582                       0
58     23587                       0
59     23588                       0
60     23596                     236

[61 rows x 2 columns]

In [58]:
excel_file_1 =r"C:\Users\90506\Desktop\ORYANTASYON EĞİTİMİ - 21 MART 2024 YOKLAMALARI.xlsx"
xl1 = pd.ExcelFile(excel_file_1)

In [59]:
dfs1 = []
for sheet_name in xl1.sheet_names:
    df1 = pd.read_excel(excel_file_1, sheet_name=sheet_name)
    dfs1.append(df1)

In [60]:
merged_df1=pd.concat(dfs1, ignore_index=True)

In [61]:
summed_sessions1 = merged_df1.groupby('Sicil No')['Oturum Süresi (Dakika)'].sum().reset_index()

In [62]:
summed_sessions1

    Sicil No  Oturum Süresi (Dakika)
0      11048                     110
1      19031                     154
2      19781                       0
3      20676                     120
4      23132                     288
5      23134                       0
6      23135                       0
7      23136                     274
8      23138                     258
9      23139                     236
10     23193                     242
11     23194                     276
12     23195                     292
13     23196                     290
14     23197                     292
15     23198                     206
16     23272                       0
17     23273                     274
18     23330                     208
19     23332                       0
20     23340                       0
21     23448                     292
22     23449                     168
23     23450                     280
24     23451                     290
25     23452                     292
26     23453                     238
27     23454                     224
28     23455                     288
29     23456                     280
30     23457                     202
31     23458                     288
32     23459                     292
33     23460                     274
34     23461                     292
35     23462                     290
36     23463                     292
37     23464                     292
38     23465                     266
39     23466                     288
40     23467                     288
41     23468                     282
42     23469                     232
43     23470                     234
44     23471                     262
45     23472                     110
46     23473                     232
47     23570                     266
48     23580                     280
49     23581                     292
50     23582                     230
51     23587                       0
52     23588                       0
53     23596                     260

In [63]:
excel_file_3 =r"C:\Users\90506\Desktop\ORYANTASYON EĞİTİMİ - 20 MART 2024 YOKLAMALARI.xlsx"
xl3 = pd.ExcelFile(excel_file_3)

In [64]:
dfs3 = []
for sheet_name in xl3.sheet_names:
    df3 = pd.read_excel(excel_file_3, sheet_name=sheet_name)
    dfs3.append(df3)

In [65]:
merged_df3=pd.concat(dfs3, ignore_index=True)

In [66]:
summed_sessions3 = merged_df3.groupby('Sicil No')['Oturum Süresi (Dakika)'].sum().reset_index()

In [67]:
summed_sessions3

    Sicil No  Oturum Süresi (Dakika)
0      19031                     280
1      19781                     296
2      23132                     280
3      23134                       0
4      23135                       0
5      23136                     298
6      23138                     294
7      23139                     260
8      23193                     290
9      23194                     282
10     23195                     294
11     23196                     302
12     23197                     302
13     23198                     202
14     23272                       0
15     23273                     274
16     23330                     260
17     23332                       0
18     23340                       0
19     23448                     300
20     23449                     170
21     23450                     298
22     23451                     298
23     23452                     298
24     23453                     278
25     23454                     274
26     23455                     302
27     23456                     294
28     23457                     302
29     23458                     276
30     23459                     302
31     23460                     292
32     23461                     300
33     23462                     296
34     23463                     302
35     23464                     302
36     23465                     296
37     23466                     300
38     23467                     296
39     23468                     286
40     23469                     286
41     23470                     290
42     23471                     268
43     23472                       0
44     23473                     260
45     23570                     242
46     23580                     298
47     23581                     258
48     23582                     180
49     23587                       0
50     23588                       0
51     23596                     260

In [68]:
excel_file_4 =r"C:\Users\90506\Desktop\ORYANTASYON EĞİTİMİ - 19 MART 2024 YOKLAMALARI.xlsx"
xl4 = pd.ExcelFile(excel_file_4)

In [69]:
dfs4 = []
for sheet_name in xl4.sheet_names:
    df4 = pd.read_excel(excel_file_4, sheet_name=sheet_name)
    dfs4.append(df4)

In [70]:
merged_df4=pd.concat(dfs4, ignore_index=True)

In [71]:
summed_sessions4 = merged_df4.groupby('Sicil No')['Oturum Süresi (Dakika)'].sum().reset_index()

In [72]:
summed_sessions4

    Sicil No  Oturum Süresi (Dakika)
0       7873                     134
1      15807                      58
2      16554                     160
3      19632                     152
4      21563                       0
5      23132                     322
6      23134                       0
7      23135                       0
8      23136                     308
9      23138                     322
10     23139                     298
11     23193                     282
12     23194                     328
13     23195                     300
14     23196                     322
15     23197                     328
16     23198                     150
17     23272                       0
18     23273                     312
19     23330                     276
20     23332                       0
21     23340                       0
22     23448                     322
23     23449                     242
24     23450                     254
25     23451                     314
26     23452                     322
27     23453                     256
28     23454                     280
29     23455                     326
30     23456                     298
31     23457                     318
32     23458                     316
33     23459                     328
34     23460                     278
35     23461                     326
36     23462                     298
37     23463                     300
38     23464                     328
39     23465                     318
40     23466                     320
41     23467                     328
42     23468                     308
43     23469                     274
44     23470                     234
45     23471                     292
46     23472                       0
47     23473                     238
48     23570                     326
49     23580                     308
50     23581                     316
51     23582                     114
52     23587                       0
53     23588                       0
54     23596                     310

In [73]:
excel_file_5 =r"C:\Users\90506\Desktop\ORYANTASYON EĞİTİMİ - 18 MART 2024 YOKLAMALARI.xlsx"
xl5 = pd.ExcelFile(excel_file_5)

In [74]:
dfs5 = []
for sheet_name in xl5.sheet_names:
    df5 = pd.read_excel(excel_file_5, sheet_name=sheet_name)
    dfs5.append(df5)

In [75]:
merged_df5=pd.concat(dfs5, ignore_index=True)

In [76]:
summed_sessions5 = merged_df5.groupby('Sicil No')['Oturum Süresi (Dakika)'].sum().reset_index()

In [77]:
summed_sessions5

    Sicil No  Oturum Süresi (Dakika)
0      13554                     152
1      19031                       0
2      19781                       0
3      20331                     150
4      20902                      30
5      23132                     278
6      23134                       0
7      23135                       0
8      23136                     278
9      23138                     287
10     23139                     250
11     23193                     154
12     23194                     303
13     23195                     303
14     23196                     296
15     23197                     303
16     23198                     278
17     23272                       0
18     23273                     282
19     23330                     292
20     23332                       0
21     23340                       0
22     23448                     302
23     23449                     272
24     23450                     282
25     23451                     302
26     23452                     299
27     23453                     292
28     23454                     288
29     23455                     302
30     23456                     266
31     23457                     274
32     23458                       0
33     23459                     278
34     23460                     278
35     23461                     302
36     23462                     293
37     23463                     302
38     23464                     282
39     23465                      94
40     23466                       0
41     23467                     303
42     23468                     288
43     23469                     274
44     23470                     256
45     23471                     276
46     23472                       0
47     23473                     262
48     23570                       0
49     23580                     294
50     23581                     298
51     23582                     218
52     23587                      88
53     23588                       0
54     23596                     282

In [80]:
output_excel1=r"C:\Users\90506\Desktop\21martyeni.xlsx"

In [81]:
summed_sessions1.to_excel(output_excel1,index=False)

In [82]:
output_excel1

'C:\\Users\\90506\\Desktop\\21martyeni.xlsx'

In [83]:
output_excel2=r"C:\Users\90506\Desktop\22martyeni.xlsx"

In [84]:
summed_sessions2.to_excel(output_excel2,index=False)

In [85]:
output_excel3=r"C:\Users\90506\Desktop\20martyeni.xlsx"

In [86]:
summed_sessions3.to_excel(output_excel3,index=False)

In [87]:
output_excel4=r"C:\Users\90506\Desktop\19martyeni.xlsx"

In [88]:
summed_sessions4.to_excel(output_excel4,index=False)

In [89]:
output_excel5=r"C:\Users\90506\Desktop\18martyeni.xlsx"

In [90]:
summed_sessions5.to_excel(output_excel5,index=False)

In [91]:
output_excel5

'C:\\Users\\90506\\Desktop\\18martyeni.xlsx'

In [92]:
merged_df = pd.read_excel(excel_files[0])

In [93]:
file_paths = [
    r"C:\Users\90506\Desktop\18martnew.xlsx",
    r"C:\Users\90506\Desktop\19martnew.xlsx",
    r"C:\Users\90506\Desktop\20martnew.xlsx",
    r"C:\Users\90506\Desktop\21martnew.xlsx",
    r"C:\Users\90506\Desktop\22martnew.xlsx"
]

In [94]:
all_data=[]

In [95]:
for file_path in file_paths:
    xls = pd.ExcelFile(file_path)
    for sheet_name in xls.sheet_names:
        df = pd.read_excel(file_path, sheet_name=sheet_name)
        all_data.append(df)

In [96]:
merged_df = pd.concat(all_data, ignore_index=True)

In [97]:
summed_sessions = merged_df.groupby('Sicil No')['Oturum Süresi (Dakika)'].sum().reset_index()

In [98]:
summed_sessions

    Sicil No  Oturum Süresi (Dakika)
0       7873                     134
1      11048                     110
2      13285                      46
3      13554                     152
4      15807                      58
..       ...                     ...
67     23581                    1444
68     23582                     742
69     23587                      88
70     23588                       0
71     23596                    1348

[72 rows x 2 columns]

In [99]:
output_excel = r"C:\Users\90506\Desktop\allofthedata.xlsx"

In [100]:
output_excel

'C:\\Users\\90506\\Desktop\\allofthedata.xlsx'

In [101]:
summed_sessions.to_excel(output_excel, index=False)

In [102]:
summed_sessions

    Sicil No  Oturum Süresi (Dakika)
0       7873                     134
1      11048                     110
2      13285                      46
3      13554                     152
4      15807                      58
..       ...                     ...
67     23581                    1444
68     23582                     742
69     23587                      88
70     23588                       0
71     23596                    1348

[72 rows x 2 columns]

In [103]:
threshold = 1457 * 0.7

In [104]:
filtered_sessions = summed_sessions[summed_sessions['Oturum Süresi (Dakika)'] < threshold]

In [105]:
filtered_sessions

    Sicil No  Oturum Süresi (Dakika)
0       7873                     134
1      11048                     110
2      13285                      46
3      13554                     152
4      15807                      58
5      16554                     160
6      17351                      52
7      17359                      20
8      17691                      32
9      18212                      30
10     19031                     434
11     19033                      52
12     19632                     152
13     19781                     296
14     20027                      52
15     20331                     150
16     20499                      36
17     20676                     120
18     20898                      52
19     20902                      30
20     21258                      46
21     21563                      30
23     23134                       0
24     23135                       0
34     23272                       0
37     23332                       0
38     23340                       0
40     23449                    1016
63     23472                     110
68     23582                     742
69     23587                      88
70     23588                       0

In [106]:
kalanlar_excel=r"C:\Users\90506\Desktop\derstenkalanlar.xlsx"

In [108]:
filtered_sessions.to_excel(kalanlar_excel,index=False)